{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block metadescription %}
    Sign up for a new account.
{% endblock %}
{% block title %}
    New account
{% endblock %}
{% block content %}
    <div>
        {% if not form.is_valid %}
            <div class = "mx-auto">
                <br>
                <h1 class = "my_title text-cetner"> Create an account</h1>
                <br>
                <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
                    <br>
                    <p> Enter your information to create an account</p>
                    <form method ="post">
                        {% csrf_token %}
                        <p>{{ form | crispy }}</p>
                        <button type = "submit" class = "btn btn-secondary">Register</button>
                    </form>
                    <br>
                </div>
        {% else %}
            <div class = "mx-auto">
                <br>
                <h1 class="my_title text-center"> Your account has been created</h1> 
                <br>
                <div>
                    <p>
                        Hello,
                        <br>
                        <br>
                        Your account has been created.
                        <br>
                        <a href="{% url 'shop:allProdCat' %}"> Continue Shopping </a>
                </div>
            </div>
        {% endif %}
    </div>
    <br>
{% endblock %}